<h1>This is the 'users#new' view.</h1>

<!-- practice building form with Javascript here! -->

<!-- <div id="form-container">

  [SQUID] render 'form' %>
  [SQUID] render 'form2' %>

</div>

<br><br>
<button id="toggle-user-form">User Form on/off</button>

<button id="toggle-base-character-form">Character Form on/off</button> -->
