<h1>This is the 'base_characters#new' view.</h1>

<!-- practice building form with Javascript here! -->

<!--
<div id="form-container">

  [SQUID] render 'form' %>

</div>

<br><br>
<button id="toggle-hidden">Hide form on/off</button> 
-->
